@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estapar Estacionamentos</h1>
    <p>
        Leia mais <a href="https://www.estapar.com.br/">
            Aonde quer que você vá.
            Tem sempre uma Estapar por perto
        </a>.
    </p>
</div>